body {
    margin: 0;
    padding: 0;
    background: #FFFFFF url(../img/img05.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5B5B5B;
}

h1, h2, h3 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5E5E5E;
}

/* Header */

header {
    width: 1000px;
    height: 150px;
    margin: 0 auto;
}

/* Logo */

#logo {
    float: left;
    width: 300px;
}

#logo h1 {
    line-height: 120px;
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo h1 a {
    text-decoration: none;
    color: #1F1F1F;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

/* Menu */

nav {
    float: right;
    width: 500px;
    height: 90px;
}

nav ul {
    float: right;
    padding: 20px 0px 0px 0px;
    list-style: none;
}

nav li {
    float: left;
}

nav a {
    display: block;
    line-height: 100px;
    margin-right: 1px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #1F1F1F;
}

nav a:hover, nav .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    color: #FFFFFF;
}

#banner {
    margin: 0px auto;
    width: 1000px;
    height: 340px;
    background: url(../img/img03.png) no-repeat left bottom;
}

/* Page */

#page {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0px;
}

/* Content */

main {
    float: right;
    width: 660px;
    padding: 0px 0px 0px 0px;
}

article {
    margin-bottom: 40px;
    border-bottom: 1px solid #E7EBED;
}

article .title {
    padding: 7px 0px 0px 0px;
    letter-spacing: -1px;
}

article .title a {
    text-decoration: none;
    color: #222222;
}

article .meta {
    margin-bottom: 30px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

time {
    float: left;
}

article .meta .posted {
    float: right;
}

article .entry {
    padding: 0px 0px 40px 0px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

.more, .comments {
    display: block;
    float: left;
    width: 88px;
    padding: 5px 5px;
    margin-right: 10px;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */

aside {
    float: left;
    width: 270px;
    margin: 0;
    padding: 30px 0px 0px 0px;
}

aside ul {
    padding: 0;
    list-style: none;
}

aside li ul {
    padding-bottom: 30px;
}

aside li li {
    line-height: 40px;
    border-bottom: 1px solid #E7EBED;
    margin: 0px 0px;
}

aside li li a {
    padding: 0px 0px 0px 20px;
    background: url(../img/img04.jpg) no-repeat left 50%;
}

aside h2 {
    height: 38px;
    padding: 0px 0px 30px 0px;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #222222;
}

/* Footer */

#footer {
    height: 140px;
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-family: 'Abel', sans-serif;
}

#footer p {
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #5E5E5E;
}
